<html ng-app="racingFrogs">

<head>
    <meta charset="UTF-8">
    <title>Racing Frogs</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body ng-controller="MainController as vm">
    <div class="container">
        <div class="panel panel-success">
            <div class="panel-heading" id="main"> RACING FROGS - RACE {{vm.raceId}}</div>
            <div class="panel-body">
                <table ng-repeat="frog in vm.frogs" class="col-md-8">
                    <tr>
                        <td style="border: 1px solid black; width: 200px"><span id="buttons" class="btn btn-default" ng-disabled="vm.racing || !vm.currentRace.open" ng-click="vm.newBet(frog.name, wager)">{{frog.name}}</span></td>
                        <td style="border: 1px dashed black; position:relative" width="90%" height="30px">
                            <span style="position: absolute; top: 0; bottom: 0;left: {{frog.pos}}%; width: 20px; background-color: deeppink;" ng-style="vm.isWinner(frog) && {'background-color': 'green'}"></span>
                            <span class="pull-left">START</span>
                            <span class="pull-right"> ||FINISH</span>
                        </td>
                    </tr>
                </table>

                <div id="right" class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Try your luck and increase your cash on hand by setting a bid amount outcome and then clicking on
                            the frog's name to confirm your choice</div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-success">Cash on hand: {{vm.cashOnHand | currency:USD$:0}}</li>
                            </ul>
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-warning">
                                    Wager:
                                    <input ng-model="wager" id = "wagerInput"/>
                                </li>
                            </ul>
                            <span>Bets:</span>
                            <ul class="list-group" ng-repeat="bet in vm.arrayOfBets">
                                <li class="list-group-item list-group-item-info">You bet {{bet.wager | currency:USD$:0}} on {{bet.name}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--end second column-->

            </div>
            <div class="panel-footer">
                <span class="btn btn-default" ng-disabled="vm.racing" ng-click="vm.newRace()">New Race</span>
                <span class="btn btn-default" ng-disabled="vm.raceId === undefined || vm.frogs.length === 0 || vm.winnerFlag || vm.racing"
                ng-click="vm.race()">Start Race</span>
                <span class="btn btn-default" ng-disabled="vm.racing || vm.raceId === undefined || vm.winnerFlag || vm.frogs.length >= vm.maxFrogs"
                ng-click="vm.addFrog()">Add Frog</span>
                <span class="btn btn-default" ng-click="vm.printRace( )">Print Race</span>
                <span style="font-weight:bold">Race Id:   {{vm.raceId}}</span>
                <span id="change">Change Race:                  
                    <select class ="select" ng-model = "selectedRace" ng-disabled ="vm.racing" ng-options="o for o in vm.arrayOfIds" ng-change ="vm.changeRace(selectedRace)" >
         
                    </select>
                </span>
            </div>

        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                Fun with Joe and Bob
            </div>
            <div class="panel-body">
                <p>
                    Joe has {{ vm.joe.cash | currency:USD$:0 }}
                </p>
                <p>
                    Bob has {{ vm.bob.cash | currency:USD$:0 }}
                </p>
                <p>
                    The bank has {{ vm.bank.cash | currency:USD$:0 }}
                </p>
            </div>
            <div class="panel-footer">
                <span class="txt">How many $ should the bank give Joe:  $<input type="number" value = "0" min="0" max="100" step="5" class = "numBox" data-ng-model="giveJoe"/><span>
                <span class="btn btn-default" ng-click="vm.giveMoneyToJoe(giveJoe)">Bank gives {{giveJoe | currency:USD$:0}} to Joe</span>
                <p></p>
                <span class="txt">Enter how many $ should the bank receive from Bob:  $<input type="number" value = "0" min="0" max="100" step="5"class = "numBox" data-ng-model="receiveBob"/><span>
                <span class="btn btn-default" ng-click="vm.receiveMoneyFromBob(receiveBob)">Bank receives {{receiveBob | currency:USD$:0}} from Bob</span>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.6/angular.min.js"></script>
    <script src="app.js"></script>
</body>

</html>